:root {
  --text-color: #f5e0dc;
  --background-color: #11111b;
  --navbar-color: #6260ac;
  --navbar-shadow: #4d4d66;
  --navbar-dark: #5d5ba7;
  --subbar-color: #39394d;
  --subbar-light: #434357;
  --subbar-shadow: #252539;
  --post-shadow: #888888;
}
